<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />

    <title>Demands</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- include jQuery library -->
    <script src="{{ url_for('static', filename='lib/jquery-3.4.1.js') }}"></script>

    <!-- custom library -->

  </head>

  <body>
    <div id="header">
      <img class="logo" src="{{ url_for('static', filename='img/Sharework_logo_color.png') }}" />
    </div>

    <div id="content">
      <div class="section">
        <div class="section-title">
          Gestione Domande
        </div>

        <div class="section-content">
            <div class="section-item">
                <div class="process">
                    <div class="navbar">
                      <form>
                        <label>Nome: &emsp;</label>
                        <input type="text"><br>
                        <label>Quantità:</label>
                        <input type="number"><br>
                        <label>Tipo: &emsp; &emsp; &emsp;</label>
                        <select title="Tipo domanda">
                            <option selected disabled></option>
                            <option>Esterna</option>
                            <option>Interna</option>
                            <option>Di magazzino</option>
                        </select><br>
                        <label>Prodotto: &emsp; &emsp; &emsp;</label>
                        <select>
                            <option selected disabled></option>
                            <option>Sample 1</option>
                            <option>Sample 2</option>
                            <option>Sample 3</option>
                            <option>Sample 4</option>
                            <option>Sample 5</option>
                        </select><br>
                        <label>Metodo di produzione:</label>
                        <select>
                            <option selected disabled></option>
                            <option>Sample 1</option>
                            <option>Sample 2</option>
                            <option>Sample 3</option>
                            <option>Sample 4</option>
                            <option>Sample 5</option>
                        </select><br>
                    </form>
                    <p>&emsp;&emsp;&emsp;</p>
                        <button class="navbarB">
                        <a href="/demands/">Inserisci la nuova domanda</a>
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="section-item">
                <div class="process">
                  <div class="navbar">
                    <p>MOSAICO &emsp; &emsp; n.1 &emsp; Interno &emsp; <a href="/demands/" style="color:white">Mosaico</a> &emsp; <a href="/demands/" style="color:white">Processo_1</a> &emsp; &emsp; &emsp;</p>
                    <button>Modifica</button>
                  </div>
                  <div class="navbar">
                    <p>DOMANDA2 &emsp; &emsp; n.50 &emsp; Esterno &emsp; <a href="/demands/" style="color:white">Prodotto_1</a> &emsp; <a href="/demands/" style="color:white">Processo_12</a> &emsp; &emsp; &emsp;</p>
                    <button>Modifica</button>
                  </div>
                  <div class="navbar">
                    <P>DOMANDA3 &emsp; &emsp; n.12 &emsp; Magazzino &emsp; <a href="/demands/" style="color:white">Prodotto_5</a> &emsp; <a href="/demands/" style="color:white">Processo_3</a> &emsp; &emsp; &emsp;</P>
                    <button>Modifica</button>
                  </div>
                </div>
            </div>

            <button>
              <a href="/">Indietro</a>
            </button>
        </div>
      </div>
    </div>
  </body>

  <div id="footer">
  </div>
</html>